*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
===================
Fonts
===================
*/
@font-face {
    font-family: "vazir";
    src: url("../fonts/vazir/Vazir-Bold-FD-WOL.woff") format("woff2"),
      url("../fonts/vazir/Vazir-Bold-FD-WOL.woff") format("woff"),
      url("../fonts/vazir/Vazir-FBold-D-WOL.ttf") format("truetype");
  }
/*
===================
roor
===================
*/
:root {
    --clr-primary: #e2711d;
    --clr-primary-light: #ffb627;
    --clr-grey-1: #6102a42;
    --clr-grey-5: #617d98;
    --clr-grey-10: #f1f5f8;
    --clr-grey-white: #fff;
    --ff-primary: "vazir", sanas-serif;
    --radiuse: 0.5rem;
    --transition: all 0.3s linear;

}

body{
    font-family: var(--ff-primary);
    background: var(--clr-grey-white);
    color:  var(--clr-grey-1);
    text-align: right;
    font-size: 1rem;
    
}

a{
    text-decoration: none;
}
img{
    display: block;
    width: 100%;
}
h1{
    font-size: 1.75rem;
}
h2{
    font-size: 1.5rem;
}
h4{
    font-size: 1rem;
}
@media screen and (min-width: 800px)
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.75rem;
}
h4{
    font-size: 1.75rem;
}
.btn{
        background: var(--clr-primary);
        padding: 0.5rem 1rem;
        border-radius: var(--radiuse);
        color: var(--clr-grey-white);
        transition: var(--transition);
        display: inline-block;
    }

    .btn:hover{
        background: var(--clr-primary-light);
        color: var(--clr-primary);
    }
    .clearfix::after, .clearfix::before{
        content: "";
        clear: both;
        display: block;
    }
    .section-center{
        padding: 4rem 0;
        width: 85vw;
        margin: 0 auto;
        max-width: 1170px;
    }

@media screen and (min-width: 992px)
    .section-center{

        width: 95vw;
        padding: 4rem  1rem;
}
.section-title h3{
    color: var(--clr-primary);
}
.section-title{
    margin-bottom: 2rem;
}

/*
===================
header
===================
*/
.header{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)) ,url("../images/nody-فاصله-پرند-تا-تهران-با-ماشین-1631142327.jpg") center/cover no-repeat fixed;
    position: relative;
}

.banner{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50% ,-50%);
    text-align: center;
}

.banner h1{
    color: var(--clr-primary);
    margin-bottom: 2rem;
}

.banner h2{
    color: var(--clr-grey-white);
    margin-bottom: 2rem;
}
.btn-banner {
   font-size: 1.25rem;
    outline: 0.125rem solid var(--clr-primary);
    outline-offset: 0.25rem;
    padding: 0.75rem 1.25rem;
}
/*content-divider*/
.content-divider{
    height: 0.5rem;
    background: linear-gradient( to left, var(--clr-primary), var(--clr-primary-light), var(--clr-primary));
}
/*
===================
feature
===================
*/
.features{
    background:var(--clr-grey-10);

}

.features{
    height: 250px;
    text-align: center;
    padding: 2.5rem 0;
    transition: var(--transition);
}
.features:hover{
    background: var(--clr-white);
    box-shadow: 0 2px 0 var(--clr-primary);
}
.features:hover .features-icon {
    transform: translateY(-5px);
}
.features-icon{
    font-size: 2rem;
    color: var(--clr-primary);
    margin-bottom: 1.25rem;
    display: inline-block;
    transition: var(--transition);
}
.features-title{
    margin-bottom: 1rem;
}
.features-text {
    color: var(--clr-grey-5);
    max-width:  17rem;
    margin: 0 auto;
    
}
@media screen and (min-width: 576px)
    .features{
        float: right;
        width: 50%;
    }
    @media screen and (min-width: 1200px)
        .features{
            float: right;
            width: 25%;
        }
       
 /*
===================
About
===================
*/
.about-img, .about-info{
    padding: 2rem 0;
}
.about-picture-container{
    background: var(--clr-primary-light);
    max-width: 30rem;
    border: 0.3rem solid var(--clr-primary);
    border-radius:  var(--radiuse);
    overflow: hidden;
}

.about-picture{
   transition: var(--transition);
}
.about-picture-container:hover .about-picture {
    opacity: 0.5;
   transform: scale(1.2);
}
.about-text{
    color: var(--clr-grey-5);
}
.about-btn{
    margin-top: 1.5rem;
}

@media screen and (min-width: 992px){
    .about-img{
        float: left;
        width: 50%;
    }

}
.about-info{
    float: right;
    width: 50%;
}
/*
===================
products
===================
*/
.products{
    background: var(--clr-grey-10);
}
.products article {
    padding: 2rem 0;
}
    .product-text {
        color: var(--clr-grey-5);
        max-width: 26rem;
        margin-left: auto;
    }
    .btn-products{
        margin-top: 1.5rem;
    }
    .products-cards .product{
        margin-bottom: 2rem;
    }
    .product-img {
        border-radius: var(--radiuse);
        margin-bottom: 1rem;
        height: 45rem;
        object-fit: cover;
    }
    .product-price {
        color: var(--clr-primary);
    }
    @media screen and (min-width: 768px) {
        .product {
            float: right;
            width: 50%;
            padding: 2rem;
        }
    }
    @media screen and (min-width: 992px) {
        .product {
        
            width: 33.3%;
        
        }
    }
    @media screen and (min-width: 1200px) {
        .product-info {
            float: right;
            width: 30%;
            
        }
    }
    .products-cards{
        float: left;
        width: 70%;
        
    }
    .product {
        padding-left: 0;
        padding-right: 2rem;
        margin-bottom: 0;
    }

        

